* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
  color: white;
}

@font-face {
  font-family: "Rubik";
  src: url("../font/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #000000;
  /* background: transparent; */
}
::-webkit-scrollbar-thumb {
  background: #10b981;
  /* background: transparent; */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #047857;
}
::-webkit-scrollbar-track-piece ;
